page-contact {
    .header .col {
        background-color:lightgrey;
    }
    
    .col {
        border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
    }
    
    .col:last-child {
        border-right: solid 1px grey;
    }
    
    .row:last-child .col {
        border-bottom: solid 1px grey;
    }
    .signup {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      }
      .submit-btn {
        background: #4c22ad;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
      }
}
